<mat-toolbar style="background-color: #504c4c; color: white;">
  <a mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  <mat-icon>inventory</mat-icon>
  </a>
  <span>Welcome To Inventory Management System</span>
  <span class="example-spacer"></span>
  <a href=".././login/"
  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  <mat-icon>logout</mat-icon>
  </a>
</mat-toolbar>


<table class = "table table-bordered" style="margin-top: 20px;">
  <thead>
      <tr *ngIf="defectiveItems">
        <th> Id </th>
        <td> {{ defectiveItems.defectiveItemsId}} </td>
      </tr>
      <tr *ngIf="defectiveItems">
        <th> Product Id </th>
        <td> {{ defectiveItems.productId }} </td>
      </tr>
      <tr *ngIf="defectiveItems">
        <th> Supplier Id </th>
        <td> {{ defectiveItems.supplierId}} </td>
      </tr>
      <tr *ngIf="defectiveItems">
        <th> Quantity </th>
        <td> {{ defectiveItems.defectiveQuantity }} </td>
      </tr>
  </thead>
</table>


<div class="text-center">
  <button (click)="list()" class="btn btn-primary">Back to DefectiveItems List</button>
</div>