<mat-toolbar style="background-color: #504c4c; color: white;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>inventory</mat-icon>
    </button>
    <span>Welcome To Inventory Management System</span>
</mat-toolbar>


<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card style="margin-top: 20px;">
                    <div class="container text-center">
                        <img src="../../assets/logo.jpg" alt="" style="margin-top: 40px; height: 150px;"> 
                    </div>

                    <h1 class="text-center" style="margin-top: 20px;">Login Here !!!</h1>
                    
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>UserName</mat-label>
                            <input [(ngModel)]="loginData.userName" name="userName"
                            required matInput placeholder="Enter here"/>
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input [(ngModel)]="loginData.password" name="password"
                            type="password" required matInput placeholder="Enter here"/>
                        </mat-form-field>

                        <div class="container text-center">
                            <button mat-raised-button color="primary" type="submit" onclick="login()" style="margin-bottom: 20px;">Login</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>