<mat-toolbar style="background-color: #504c4c; color: white;">
    <a mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>inventory</mat-icon>
    </a>
    <span>Welcome To Inventory Management System</span>
    <span class="example-spacer"></span>
    <a href=".././dashboard/"
    mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>dashboard</mat-icon>
    </a>
    <a href="../add-product/"
    mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>person_add</mat-icon>
    </a>
    <a href=".././login/"
    mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
    </a>
</mat-toolbar>

<div class = "row text-center" style="margin-top: 20px;">
    <h1> Product List</h1>
</div>

<table class = "table table-bordered table-light table-hover">
    <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Description </th>
            <th> Category </th>
            <th> Quantity </th>
            <th> Price </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let product of products" >
            <td> {{ product.productId }} </td>
            <td> {{ product.productName }} </td>
            <td> {{ product.productDescription }} </td>
            <td> {{ product.productCategory }} </td>
            <td> {{ product.productQuantity }} </td>
            <td> {{ product.productPrice }} </td>
            <td>
                <button (click) = "updateProduct(product.productId)" class = "btn btn-primary"> Update</button>
                <button (click) = "deleteProduct(product.productId)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "productDetails(product.productId)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>