<mat-toolbar style="background-color: #504c4c; color: white;">
  <a mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  <mat-icon>inventory</mat-icon>
  </a>
  <span>Welcome To Inventory Management System</span>
  <span class="example-spacer"></span>
  <a href=".././login/"
  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  <mat-icon>logout</mat-icon>
  </a>
</mat-toolbar>


<div class="dashboard">
  <div class="dashboard-links">
    <a href="/suppliers">Supplier</a>
    <a href="/products">Product</a>
    <a href="/customers">Customer</a>
    <a href="/saless">Sales</a>
    <a href="/defectiveItemss">Defective Items</a>
  </div> 
</div>


