/* CSS for Navbar */

.example-spacer {
  flex: 1 1 auto;
}

footer {
  background-color:#333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
  
.dashboard {
  max-width: 500px;
  margin: 110px auto;
  padding: 20px;
}
    
   
.dashboard-links a {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(206, 236, 248);
  text-decoration: none;
  color: black;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
    
.dashboard-links a:hover {
  background-color: aquamarine;
}